
@{
    ViewData["Title"] = "EditFurniture";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<form action="/admin/UpdateFurniture/@ViewBag.edit_furn.FurnitureId" method="post" enctype="multipart/form-data">
    <input type="text" name="FurnitureName" value="@ViewBag.edit_furn.FurnitureName" />
    <input type="number" name="FurniturePrice" value="@ViewBag.edit_furn.FurniturePrice" />
    <input type="file" name="FurnitureImgUrl" value="@ViewBag.edit_furn.FurnitureImgUrl" />
    <select name="CategoryId" >
        <option hidden>Choose Category</option>
        @foreach (var c in ViewBag.Categories)
        {
            <option @(ViewBag.edit_furn.CategoryId==c.CategoryId ? "selected":"") value="@c.CategoryId">@c.CategoryName</option>
        }
    </select>
    <input type="submit" value="update" />
</form>
